@page "/"

@if (_isLoading)
{
    <button class="btn btn-transparent border-0" type="button" disabled="">
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Loading...</span>
    </button>
}
else
{
    if (_allModelDataFromGithub.Count > 0)
    {
        foreach (var item in _allModelDataFromGithub)
        {
            <div class="col">
                <img src="@item.ImageUrl"
                     @onclick="()=> LoadContent(item)"
                     data-bs-toggle="modal"
                     data-bs-target="@($"#{BsModalName}")"
                     class="gallery-img rounded shadow-sm"
                     data-title="@item.Name"
                     data-description="@item.Description"
                     alt="@item.Name"
                     loading="lazy"
                     >
            </div>
        }

        if (_modelData != null)
        {
            <ModelViewerComponents Model="@_modelData" Options="_option" BsModalName="@BsModalName"/>
        }
    }
    else
    {
        <h1>No Data Found</h1>
    }
}
