@page "/"

@if (_isLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    if (_allModelDataFromGithub.Count > 0)
    {
        foreach (var item in _allModelDataFromGithub)
        {
            <div class="col">
                <img src="@item.ImageUrl"
                     @onclick="()=> LoadContent(item)"
                     data-bs-toggle="modal"
                     data-bs-target="@($"#{BsModalName}")"
                     class="gallery-img rounded shadow-sm"
                     data-title="@item.Name"
                     data-description="@item.Description"
                     alt="@item.Name"
                     >
            </div>
        }

        if (_modelData != null)
        {
            <ModelViewerComponents Model="@_modelData" Options="_option" BsModalName="@BsModalName"/>
        }
    }
    else
    {
        <h1>No Data Found</h1>
    }
}
